<p>Hey {{ name }},</p>
<p>Vous avez récemment fait une inscription sur Taiga app.</p>
<p>Afin de valider votre compte merci d'utiliser le lien suivant : </p>
<p>
    <a href="{{ url }}">Confirm</a>
</p>

<p>Si vous n'avez pas fait de demandes veuillez simplement ingorer cet email.</p>